In [1]:
pip install pymongo

StatementMeta(mySparkPool, 0, 2, Finished, Available)

Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 kB 38.0 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 58.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pyspark.sql.functions import col, explode,current_date, datediff,from_unixtime, expr, avg
from pyspark.sql.types import IntegerType
from datetime import datetime

StatementMeta(mySparkPool, 12, 2, Finished, Available)

In [2]:

%%pyspark
df_accounts = spark.read.load('abfss://synapse@jgastorage.dfs.core.windows.net/accounts.json', format='json')

df_accounts.printSchema()
# ?? WHich is the most used Service ?? #

# unnesting the products array
df_exploded = df_accounts.select("account_id", "limit", explode(col("products")).alias("product"))

df_exploded = df_exploded.select(col("account_id.$numberInt").alias("account_id"), col("limit.$numberInt").alias("limit"), "product")



df_exploded.printSchema()

StatementMeta(mySparkPool, 12, 3, Finished, Available)

root
 |-- _id: struct (nullable = true)
 |    |-- $oid: string (nullable = true)
 |-- account_id: struct (nullable = true)
 |    |-- $numberInt: string (nullable = true)
 |-- limit: struct (nullable = true)
 |    |-- $numberInt: string (nullable = true)
 |-- products: array (nullable = true)
 |    |-- element: string (containsNull = true)

root
 |-- account_id: string (nullable = true)
 |-- limit: string (nullable = true)
 |-- product: string (nullable = true)

In [32]:



df_exploded.write.mode("overwrite").saveAsTable("accounts")

df_exploded.write \
    .format("com.databricks.spark.csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save('abfss://synapse@jgastorage.dfs.core.windows.net/accounts.csv')

StatementMeta(mySparkPool, 5, 8, Finished, Available)

In [3]:

%%pyspark
df_customers = spark.read.load('abfss://synapse@jgastorage.dfs.core.windows.net/customers.json', format='json')

df_customers.show()

import math

#def calculate_age(seconds):
    #birthdate = datetime.fromtimestamp(seconds)
    #current_date = datetime.now()
   # age = current_date.year - birthdate.year - ((current_date.month, current_date.day) < (birthdate.month, birthdate.day))
    #return age

# ?? Wie viele Accounts hat jeder Kunde ?? #


def unix_timestamp_to_date(unix_timestamp):
    a = unix_timestamp / 1000
    return from_unixtime(a, "yyyy-MM-dd")

#calculate_age_udf = spark.udf.register("calculate_age", calculate_age, IntegerType())

spark.udf.register("unix_timestamp_to_date", unix_timestamp_to_date)



df_neu = df_customers.select("username", "name", "address",  col("birthdate.$date").alias("Time") , explode(col("accounts")).alias("account") )



df_ohne = df_neu.select("username", "name", "address", col("Time.$numberLong").alias("Time"), col("account.$numberInt").alias("account_id"))

df_ohne = df_ohne.withColumn("Time", col("Time").cast("bigint"))

df_ohne = df_ohne.withColumn("date_of_birth", unix_timestamp_to_date(col("Time")))
df_fertig = df_ohne.withColumn("age", datediff(current_date(), col("date_of_birth")) / 365)

#df_fertig = df_ohne.withColumn("age", calculate_age_udf(col("Time")) )

df_fertig.printSchema()

#df_fertig.write.mode("overwrite").saveAsTable("customers")

df_fertig.show()


df_fertig.write.mode("overwrite").saveAsTable("customers")

df_fertig.write \
    .format("com.databricks.spark.csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save('abfss://synapse@jgastorage.dfs.core.windows.net/customers.csv')

StatementMeta(mySparkPool, 12, 4, Finished, Available)

+--------------------+--------------------+------+--------------------+----------------+--------------------+-----------------+--------------------+----------------+
|                 _id|            accounts|active|             address|       birthdate|               email|             name|    tier_and_details|        username|
+--------------------+--------------------+------+--------------------+----------------+--------------------+-----------------+--------------------+----------------+
|{5ca4bbcea2dd94ee...|[{371138}, {32428...|  true|9286 Bethany Glen...|{{226117231000}}|arroyocolton@gmai...|    Elizabeth Ray|{null, null, null...|         fmiller|
|{5ca4bbcea2dd94ee...|          [{116508}]|  null|Unit 1047 Box 408...|{{761701587000}}|cooperalexis@hotm...|    Lindsay Cowan|{null, null, null...|valenciajennifer|
|{5ca4bbcea2dd94ee...|[{462501}, {22829...|  null|55711 Janet Plaza...|{{582848134000}}|timothy78@hotmail...|  Katherine David|{null, null, null...|      hillrachel|
|{5ca4bbcea2dd94ee...|[{170945}, {951849}]|  null|Unit 2676 Box 935...|{{154708220000}}| tcrawford@gmail.com|  Leslie Martinez|{null, null, null...|    serranobrian|
|{5ca4bbcea2dd94ee...|[{721914}, {81722...|  null|2765 Powers Meado...|{{231803855000}}|  dustin37@yahoo.com|    Brad Cardenas|{null, null, null...|   charleshudson|
|{5ca4bbcea2dd94ee...|[{904260}, {565468}]|  null|17677 Mark Crest\...|{{842634867000}}|amyholland@yahoo.com|     Natalie Ford|{null, null, null...| gregoryharrison|
|{5ca4bbcea2dd94ee...|[{627629}, {55958...|  null|50047 Smith Point...|{{-16752040000}}| vcarter@hotmail.com|      Dana Clarke|{null, null, null...|          hmyers|
|{5ca4bbcea2dd94ee...|[{385397}, {33797...|  null|633 Miller Turnpi...|{{730661849000}}|   laura34@yahoo.com|     Gary Nichols|{null, null, null...|  andrewhamilton|
|{5ca4bbcea2dd94ee...|[{702610}, {240640}]|  null|38456 Rachael Cau...|{{732022654000}}|   zmelton@gmail.com|       John Parks|{null, null, null...|      matthewray|
|{5ca4bbcea2dd94ee...|[{344885}, {83992...|  null|4140 Pamela Hollo...| {{90241268000}}|   scott50@yahoo.com|Jennifer Lawrence|{null, null, null...|          glopez|
|{5ca4bbcea2dd94ee...|          [{987709}]|  null|8681 Karen Roads ...| {{95789846000}}|josephmacias@hotm...|    James Sanchez|{null, null, null...|        wesley20|
|{5ca4bbcea2dd94ee...|[{662207}, {816481}]|  null|18637 Jessica Rid...|{{627927174000}}|michael16@hotmail...|     Ashley Lopez|{null, null, null...|     thomasdavid|
|{5ca4bbcea2dd94ee...|          [{571880}]|  null|2129 Joel Rapids\...|{{235600552000}}|michaelespinoza@g...| Dr. Angela Brown|{null, null, null...|      patricia44|
|{5ca4bbcea2dd94ee...|[{88112}, {567199...|  null|86636 Maria Viadu...|{{432962538000}}|  ryanpena@yahoo.com|        John Vega|{null, null, null...|     nelsonmaria|
|{5ca4bbcea2dd94ee...|[{883283}, {98086...|  null|1579 Young Trail\...|{{341598359000}}|briannafrost@yaho...|     Lauren Clark|{null, null, null...|   portermichael|
|{5ca4bbcea2dd94ee...|[{631901}, {814687}]|  null|USNS Howard\nFPO ...|{{399712377000}}|virginia36@hotmai...|Jacqueline Haynes|{null, null, null...|   johnsonshelly|
|{5ca4bbcea2dd94ee...|[{550665}, {321695}]|  null|70092 Adams Prair...|{{286857767000}}|   april04@gmail.com|     Brian Flores|{null, null, null...|    hunterdaniel|
|{5ca4bbcea2dd94ee...|[{66698}, {859246...|  null|7322 Owens Inlet ...|{{156860840000}}|   omolina@gmail.com|Christopher Gomez|{null, null, null...|         james75|
|{5ca4bbcea2dd94ee...|[{205563}, {61660...|  null|86176 Katherine C...|{{648222432000}}|barbaraduncan@gma...|     Robert Burns|{null, null, null...|          eric10|
|{5ca4bbcea2dd94ee...|[{700880}, {37684...|  null|932 Jeremy Spring...|{{363566100000}}|nicoleanderson@ho...|    Joshua Parker|{null, null, null...|     millerrenee|
+--------------------+--------------------+------+--------------------+----------------+--------------------+-----------------+--------------------+----------------+
only showing top 20 rows

root
 |-- username: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- Time: long (nullable = true)
 |-- account_id: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- age: double (nullable = true)

+----------------+---------------+--------------------+------------+----------+-------------+------------------+
|        username|           name|             address|        Time|account_id|date_of_birth|               age|
+----------------+---------------+--------------------+------------+----------+-------------+------------------+
|         fmiller|  Elizabeth Ray|9286 Bethany Glen...|226117231000|    371138|   1977-03-02| 46.62465753424657|
|         fmiller|  Elizabeth Ray|9286 Bethany Glen...|226117231000|    324287|   1977-03-02| 46.62465753424657|
|         fmiller|  Elizabeth Ray|9286 Bethany Glen...|226117231000|    276528|   1977-03-02| 46.62465753424657|
|         fmiller|  Elizabeth Ray|9286 Bethany Glen...|226117231000|    332179|   1977-03-02| 46.62465753424657|
|         fmiller|  Elizabeth Ray|9286 Bethany Glen...|226117231000|    422649|   1977-03-02| 46.62465753424657|
|         fmiller|  Elizabeth Ray|9286 Bethany Glen...|226117231000|    387979|   1977-03-02| 46.62465753424657|
|valenciajennifer|  Lindsay Cowan|Unit 1047 Box 408...|761701587000|    116508|   1994-02-19|29.643835616438356|
|      hillrachel|Katherine David|55711 Janet Plaza...|582848134000|    462501|   1988-06-20| 35.31506849315068|
|      hillrachel|Katherine David|55711 Janet Plaza...|582848134000|    228290|   1988-06-20| 35.31506849315068|
|      hillrachel|Katherine David|55711 Janet Plaza...|582848134000|    968786|   1988-06-20| 35.31506849315068|
|      hillrachel|Katherine David|55711 Janet Plaza...|582848134000|    515844|   1988-06-20| 35.31506849315068|
|      hillrachel|Katherine David|55711 Janet Plaza...|582848134000|    377292|   1988-06-20| 35.31506849315068|
|    serranobrian|Leslie Martinez|Unit 2676 Box 935...|154708220000|    170945|   1974-11-26| 48.89041095890411|
|    serranobrian|Leslie Martinez|Unit 2676 Box 935...|154708220000|    951849|   1974-11-26| 48.89041095890411|
|   charleshudson|  Brad Cardenas|2765 Powers Meado...|231803855000|    721914|   1977-05-06|46.446575342465756|
|   charleshudson|  Brad Cardenas|2765 Powers Meado...|231803855000|    817222|   1977-05-06|46.446575342465756|
|   charleshudson|  Brad Cardenas|2765 Powers Meado...|231803855000|    973067|   1977-05-06|46.446575342465756|
|   charleshudson|  Brad Cardenas|2765 Powers Meado...|231803855000|    260799|   1977-05-06|46.446575342465756|
|   charleshudson|  Brad Cardenas|2765 Powers Meado...|231803855000|     87389|   1977-05-06|46.446575342465756|
| gregoryharrison|   Natalie Ford|17677 Mark Crest\...|842634867000|    904260|   1996-09-13|27.076712328767123|
+----------------+---------------+--------------------+------------+----------+-------------+------------------+
only showing top 20 rows

In [28]:
%%pyspark
df_transactions = spark.read.load('abfss://synapse@jgastorage.dfs.core.windows.net/transactions.json', format='json')


def unix_timestamp_to_date(unix_timestamp):
    a = unix_timestamp / 1000
    return from_unixtime(a, "yyyy-MM-dd")

spark.udf.register("unix_timestamp_to_date", unix_timestamp_to_date)

df_neu = df_transactions.select(col("account_id.$numberInt").alias("account_id"), col("bucket_end_date.$date.$numberLong").alias("end_date"), col("bucket_start_date.$date.$numberLong").alias("start_date"),
col("transaction_count.$numberInt").alias("transaction_count") , explode(col("transactions")).alias("transactions")        )


# calculating the lenght of the timebucket
df_neu = df_neu.withColumn("start_date", unix_timestamp_to_date(col("start_date")))

df_neu = df_neu.withColumn("end_date", unix_timestamp_to_date(col("end_date")))

df_neu = df_neu.withColumn("bucket_time", datediff(col("end_date"), col("start_date"))/365)


# now extracting the transaction_code and date

df_neu = df_neu.withColumn("transaction_code", col("transactions.transaction_code"))
df_neu = df_neu.withColumn("transaction_date", col("transactions.date.$date.$numberLong"))

# converting unix timestamp to date
df_neu = df_neu.withColumn("transaction_date", unix_timestamp_to_date(col("transaction_date")))

# now only select the necessary columns

df_neu = df_neu.select("account_id", "end_date", "start_date", "transaction_count", "bucket_time", "transaction_code", "transaction_date")

df_neu.printSchema()
df_neu.show()

# now save as table

df_neu.write.mode("overwrite").saveAsTable("transactions")

df_neu.write \
    .format("com.databricks.spark.csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save('abfss://synapse@jgastorage.dfs.core.windows.net/transactions.csv')

StatementMeta(mySparkPool, 5, 4, Finished, Available)

root
 |-- account_id: string (nullable = true)
 |-- end_date: string (nullable = true)
 |-- start_date: string (nullable = true)
 |-- transaction_count: string (nullable = true)
 |-- bucket_time: double (nullable = true)
 |-- transaction_code: string (nullable = true)
 |-- transaction_date: string (nullable = true)

+----------+----------+----------+-----------------+------------------+----------------+----------------+
|account_id|  end_date|start_date|transaction_count|       bucket_time|transaction_code|transaction_date|
+----------+----------+----------+-----------------+------------------+----------------+----------------+
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2003-09-09|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2016-06-14|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2002-12-04|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|            sell|      2014-07-14|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2011-10-28|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|            sell|      2010-12-20|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|            sell|      2015-10-28|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2012-02-02|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|            sell|      2016-03-14|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2012-03-01|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2001-01-04|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2015-12-14|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2016-10-05|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2016-09-26|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|            sell|      1992-07-17|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      1978-02-16|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|            sell|      2016-06-01|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|            sell|      1986-10-23|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|             buy|      2010-10-22|
|    443178|2017-01-03|1969-02-04|               66|47.945205479452056|            sell|      2016-07-28|
+----------+----------+----------+-----------------+------------------+----------------+----------------+
only showing top 20 rows

In [ ]:
# now vizualize the data

# Frage: Welcher Account typy ist der häufigste